.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scale, .undoRedo {
    display: flex;
    border: 1px solid #000;
    width: fit-content;
    border-radius: 10px;
}

.plus, .value, .undo {
    border-right: 1px solid #000;
}

.plus, .value, .minus, .undo, .redo {
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}